body {
    background-image: url('spiral.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #2a2c2b;
  }
  
  tr:nth-child(odd) {
    background-color: #333;
  }
  
  h1 {
    color: white;
    text-decoration: underline;
  }
  
  u {
    text-decoration: underline;
  }
  
  font[size="7"] {
    font-size: 36px;
  }
  
  font[size="6"] {
    font-size: 24px;
  }